<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="dlogs content">
    <h2>All Dogs</h2>

    <% if (dogs.length > 0) { %>
      <% dogs.forEach(dog => { %>
        <a class="single" href="/dogs/<%= dog._id %>">
            <h3 class="title">Dog: <%= dog.dogName %></h3>
            <p class="snippet">Owner:<%= dog.humanName %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no dogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>