<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
</body>

    <div class = "blogs content">
    <h2>All Dogs</h2>
        <% if (dogs.length >0) { %>
        <% dogs.forEach(dog => { %>
        <h3 class = "title"><%= dog.title %></h3>
        <p class = "snippet"><%= dog.snippet %></p>

    <% }) %>
    <% } else {%>
        <p>there are no dogs to display </p>
    <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>   
</html>